body {
  background-color: rgba(128, 128, 128, 0.041);
}
embed {
  height: 700px;
}

pre {
    display: block;
    background-color: rgb(186, 186, 186);
    color: purple;
    font-size: medium;
    font-weight: 500;
    margin: 1em 0px ;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

  
code {
    margin-left: 10px;
}
img {
  border-radius: 5px;
  max-width: 100%;
  border: 10px solid #0C0C0C;
}

p {
    margin-top: 10px;
}
.accordion {
  border: 0px transparent !important;
  background-color: transparent;
}
.accordion-button{
  margin-bottom: 5px;
  border-radius: 3px;
}

